@model MaintenanceReminder.Models.Device

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Urządzenia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maintainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maintainer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeOfLastMaintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeOfLastMaintenance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeOfNextMaintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeOfNextMaintenance)
        </dd>
    </dl>

</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="submit" value="Edytuj" class="btn btn-primary" /></a>
    <a asp-action="Index"><input type="submit" value="Powrót do listy" class="btn btn-primary" /></a>
</div>
